* {
    padding: 0;
    margin: 0 ;
    
    font-family: 'Montserrat', sans-serif;
}

body {

    overflow-x: hidden;
    

}

.header {
    height: 1012px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(header.jpg) ;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    

}

.shadow {
    background-color: rgba(255, 255, 255, 0.192);
    width: 3000px;
    height: 1012px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
    width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    color: white;
    font-size: 32px;
    width: 200px;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.logo div p {
    background-image: url(logo.png) ;
    width: 58px;
    height: 67px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blue_text {
    color: #18CFAB;
    font-weight: bold;
}

.menu ul li {
    list-style: none;
   

}
.menu li  {
    display: inline;
    margin:  0px 5px;
   


}

.menu li > a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 16px;
    
}

.menu li > a:hover {
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}

.next {
    background: #fff;
}

.header_info {
    width: 800px;
    height: 500px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header_info p {
    margin-top: 22px;

}

.header_text1 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.header_text2 {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
}

.header_text3 {
    font-weight: lighter;
    font-size: 35px;
    color: rgb(184, 184, 184);
}

.header_buttons {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}

.header_button1 {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin: 13px;
    margin: 13px;
    padding: 16px 18px;
    background-color: #18CFAB;
    border-top: 5px solid #fff;
    border-radius: 4px;
}
.header_button2 {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin: 13px;
    padding: 16px 18px;
    background-color: #00CBF6;
    border-top: 5px solid #fff;
    border-radius: 4px;
}

.second_block {
    display: flex;
    justify-content: center;
}

.second_block p {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 50px;
    
}

.second_block > div {
    width: 484px;
    height: 377px;
}

.icon_dark {
    background: #1C2A33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #18CFAB;
    
}

.icon_dark > a {
    font-size: 70px;
    color: #18CFAB;
    padding: 90px;
    text-align: center;
    text-decoration: none;
}

.icon_blue {
    background: #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

.icon_blue > a {
    font-size: 70px;
    color: #fff;
    padding: 90px;
    text-align: center;
    text-decoration: none;
}



.footer {
    height: 3000px;
}