/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
}




.contentt {
    padding: 80px 0px ;
    width: 1200px;
    margin: 0px auto;
}

.contentt  > p {
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    padding-bottom: 65px;
}

.tabs {
    margin: 0px 0px 50px 0px;
    height: 375px;
}
.tabs__items {
    display: flex;
}
.tabs__item {
    flex: 0 1 16.6666%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.tabs__item span {
    position: relative;
    z-index: 5;
    color: #717171;
}

.tabs__block {
    height: 205;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
    line-height: 24px;
    display: none;
}
.tabs__block:before {
    content: "";
    height: 76px;
    width: 16.6666%;
    position: absolute;
    top: -64px;

}

.tabs__block div{
    display: inline-block;

}


.tabs__block:nth-child(1):before {
    background-color: #18CFAB;
    left: 0;
}

.tabs__block:nth-child(2):before {
    background-color: #18CFAB;
    left: 16.6666%;
}

.tabs__block:nth-child(3):before {
    background-color: #18CFAB;
    left: 33.3333%;
}

.tabs__block:nth-child(4):before {
    background-color: #18CFAB;
    right: 33.3333%;
}

.tabs__block:nth-child(5):before {
    background-color: #18CFAB;
    right: 16.6666%;
}

.tabs__block:nth-child(6):before {
    background-color: #18CFAB;
    right: 0;
}

.tabs__block:target {
    display: block;
}

.text {
    width: 890px;
    height: 205px;
    display: inline-block;
    margin: 0px 0px 0px 15px;
    color: #777777;
    font-size: 16px;
    text-align: start;
}

/* /////////////////////////////////////////////////////////////// */


.paralax {

    background-image: url(section-2.jpg);
    background-size: 110%;
    height: 476px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed; 
}

.section2 {
    background-color: #000000a6;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section2 a {
    text-transform: uppercase;
}

.sec2_big_tile {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

    color: #18CFAB;
}

.sec2_big_tile ~ p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;

    color: #D8D8D8;
}


